body {
    margin: 0 auto;
}

.container {
    padding: 20px;
}

.selected-filter {
    background-color: black;
    color: white;
}

button {
    margin-right: 10px;
}

.projects {
    column-count: 3;
}

img {
    margin-top: 15px;
    width: 100%;
}